{{ define "content" }}
<div style="text-align: center;">
  <p>We are a full remote community based in Italy.</p>
  <br />
  <p>Reach us via <a href="mailto:hello@stackzoo.io">mail</a></p>
  <p>or</p>
  <p>via the <a href="https://join.slack.com/t/stackzooio/shared_invite/zt-296130a40-GXVF2AKuHgfWhvFj4t8oiQ">official</a> slack channel.</p>
  <br/>
  You can also find us on <a href="https://coracle.social/people/nprofile1qqsg97uty4wvaa8rm28mnpvhjhadv9ajtluy7jc0hky4dfrkp6p2vmgpzfmhxue69uhhqatjwpkx2urpvuhx2ucpz3mhxue69uhhyetvv9ujuerpd46hxtnfduq3vamnwvaz7tmjv4kxz7fwdehhxarj9e3xzmny28cx5v">Nostr</a> 𓅦
</div>
{{ end }}